body {
  background-color: #87CEFA;
  text-align: center;
}

h1 {
  font-family: lobster two;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  border: solid 15px white;
  padding: 10px;
  width: 280px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

button {
  background-color: white;
}

#instruction {
  font-style: italic;
  font-weight: bold;
}

#input {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

#output {
  display: none;
  width: 80%;
  margin: auto;
}

#output-wrapper {
  margin-top: 20px;
}
